@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.mono_ul {
  font-family: monospace;
  text-decoration: underline;
  font-size: 1.1em;
}

body {
  display: flex;
  padding: 0px;
  margin: 0px;
  font-family: "Inter", "Courier New", Courier, monospace;
}

#navbar {
  flex: 0 0 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-right: 4px solid grey;
}

#navbar > header {
  font-size: 1.8rem;
  padding: 10px;
  flex: 0 0 70px;
}

.nav-links {
  overflow-y: auto;
  flex: 1 1 auto;
}

.nav-links > a,
.nav-links > a:active .nav-links > a:hover .nav-links > a:visited {
  display: block;
  text-decoration: none;
  color: #555;
  font-weight: 300;
  font-size: 1.2rem;
  padding: 10px;
  border-top: 1px solid black;
}

#main-doc {
  flex: 1 1 auto;
  overflow-y: auto;
  height: 100vh;
}

.main-section > header {
  font-size: 1.8rem;
  margin: 20px;
}

.main-section > p {
  margin: 20px 30px;
  color: #555555;
  line-height: 1.3em;
}

.main-section > ol,
.main-section > ul {
  margin: 20px 30px;
}

.main-section li {
  line-height: 1.5em;
  color: #555555;
}

.main-section > code {
  background-color: #f7f7f7;
  margin: 0px 40px;
  display: block;
  padding: 20px;
  border-radius: 10px;
}
